@page "{id}"
@model MainPages.Pages.Menu.ChangePasswordModel
@{
    ViewData["Title"] = "Смена пароля";
}

<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
        <h2>Смена пароля</h2>
        <form method="post" style="font-size: 17px;">
            <input type="hidden" asp-for="User.UserNumber" />
            <input type="hidden" asp-for="User.Name" />
            <input type="hidden" asp-for="User.Surname" />
            <input type="hidden" asp-for="User.Patronymic" />
            <input type="hidden" asp-for="User.Allergies" />
            <input type="hidden" asp-for="User.СhronicDiseases" />
            <input type="hidden" asp-for="User.MedicationsTaken" />
            <input type="hidden" asp-for="User.EmailAddress" />
            <input type="hidden" asp-for="User.PhoneNumber" />
            <input type="hidden" asp-for="CurrentPassword" />
            <div class="form-group my-2">
                <label asp-for="OldPassword" class="control-label">Текущий пароль:</label>
                <input asp-for="OldPassword" type="text" class="form-control" />
                <span asp-validation-for="OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="User.Password" class="control-label">Новый пароль:</label>
                <input asp-for="User.Password" type="password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="RepeatPassword" class="control-label">Повторите пароль:</label>
                <input asp-for="RepeatPassword" type="password" class="form-control" />
                <span asp-validation-for="RepeatPassword" class="text-danger"></span>
            </div>
            <div style="padding-top: 7px;">
                <a asp-page="/Menu/Profile" asp-route-id="@Model.User.UserNumber" class="btn btn-secondary" style="font-size: 17px;">Отмена</a>
                <input style="position:relative; left: 12px; font-size: 17px;" type="submit" value="Сменить пароль" class="btn btn-primary" />
            </div>
        </form>
	</div>
	<div class="col-md-4"></div>
</div>
