@page
@model IndexModel
@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h3 style="padding-top: 10px;">Добро пожаловать на сайт СборПоход!</h3>
    <div style="font-size: 20px;">Здесь вы найдёте большое количество инструментов для организации своего похода.</div>
    <div style="font-size: 20px;">Чтобы создать поход, <a asp-page="/Login/Registration">зарегистрируйтесь</a> на сайте 
        или <a asp-page="/Login/Login">войдите</a> в аккаунт.</div>
    <br />
    <img src="/img/MainPage.png" class="img-fluid" alt="СборПоход">
</div>
